.main-header-container {
  background-color: #2c364c;
  padding-left: 10%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 10%;
}

@media screen and (min-width: 768px) {
  .small-devices-container {
    display: none;
  }

  .large-devices-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .heder-website-logo {
    height: 60px;
    width: 100px;
    border-radius: 6px;
  }
  .home-and-jobs-container {
    display: flex;
    margin-top: 15px;
  }
  .nav-home-heading {
    color: white;
    font-weight: bold;
    font-size: 21px;
  }
  .nav-jobs-heading {
    color: white;
    padding-left: 20px;
    font-weight: bold;
    font-size: 21px;
  }
  .logoutButton {
    color: white;
    font-weight: bold;
    font-family: Bree Serif;
    background-color: #4f46e5;
    border-radius: 8px;
    border-color: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    font-size: 20px;
    padding-bottom: 6px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .large-devices-container {
    display: none;
  }
  .small-devices-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .heder-website-logo-small {
    height: 40px;
    width: 100px;
  }

  .small-home-and-jobs-container {
    display: flex;
    margin-top: 10px;
  }
  .nav-home-icon {
    margin-right: 17px;
  }
  .home-icon {
    font-size: 30px;
    color: white;
  }
  .nav-jobs-icon {
    margin-right: 13px;
    margin-left: 13px;
  }
  .job-icon {
    font-size: 30px;
    color: white;
  }
  .nav-logout-icon {
    margin-right: 13px;
    margin-left: 13px;
  }
  .logout-icon {
    font-size: 30px;
    color: white;
  }
}
